.list_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.trainee_assign_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #b9ddff;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem 1rem;
}

.trainee_assign_form .MuiInputBase-root {
    border-radius: 1.5rem;
}

.trainee_assign_form .assign_evaluator_row, .trainee_assign_form .assign_supervisor_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
}

.trainee_assign_form .assign_save {
    margin: 0.5rem 0 0 0;
    width: 100%;
    background-color: #93cbff;
    color: #414141;
    font-size: 16px;
    height: 3rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

.trainee_assign_form .assign_save:hover {
    background-color: #2a95ff;
    color: white;
    box-shadow: none;
}

.accordion_item:before {
    display: none;
}

/* Supervisor List, Evaluator List */

.supervisor_assign_box, .evaluator_assign_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b9ddff;
    border-radius: 1.5rem;
}

.supervisor_assign_box p, .evaluator_assign_box p {
    margin: 1rem 2rem;
    font-size: 18px;
}

/* Create new user */

.create_new_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create_new_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.create_new_form p {
    font-weight: 500;
    margin-top: 20px;
    line-height: 0.5;
    margin-bottom: 10px;
}

.create_new_form_left, .create_new_form_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline !important;
    margin: 0 auto;
    width: 50%;
    padding: 0 1rem;
    height: 100%;
}

.training_period {
    width: 100%;
    justify-content: space-between;
}

.training_period p {
    text-align: left;
}

.training_period_from, .training_period_to {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

.training_period_from {
    padding-right: 10px;
}


/* Create new user */

.trainee_box_heading{
    display: flex;
    color: #ffffff;
    align-content: start;
    font-size: 20px;
    padding-left: 15px;
}

.trainee_box_description{
    padding: 20px;
}

.trainee_box_description_text{
    color: black;
    font-size: large    ;
}

.trainee_month_accordion{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 20px;
    font-size: 30px;

}

.trainee_week{
    background-color: #379eff4d;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

