.login_container {
    display: flex !important;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: max-content;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem 3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.login_helper_container {
    padding: 2px !important;
}