.login_container {
    display: flex !important;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: max-content;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: 2rem 3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.login_helper_container {
    padding: 2px !important;
}

.forgot-pw-container {
    top: -50px !important;
    left: 15px !important;
}

.forgot-pw-container .MuiPopover-paper {
    box-shadow: none;
    border-radius: 1rem;
    background-color: #1565c0;
    color: white;
}

.forgot-pw-tooltip {
    font-size: 1rem;
    padding: 1rem;
    width: 15rem;
}

/* mobile view css */

@media only screen and (max-width: 900px) {

    .forgot-pw-container {
        top: 20px !important;
        left: -50px !important;
    }
}

@media only screen and (max-width: 600px) {

    .login_form {
        padding: 1.5rem;
        margin: 2rem 0.5rem;
    }

    .login_helper_container {
        padding: 2px !important;
    }

    .forgot-pw-container {
        top: 20px !important;
        left: -8px !important;
    }
}