.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: max-content;
	width: auto;
}

.dashboard_container {
	display: flex;
	height: 100vh !important;
	overflow: auto;
	padding-bottom: 40px;
}

.sideBarLinkText span {
	font-weight: 500;
}

/* Admin Header */

Button.logout_button {
	color: white;
	width: 7rem;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.logout_button:hover {
	background-color: #ce002d;
	color: white;
}

/* Left Widget */

.left_widget_container {
	display: flex;
	justify-content: center;
}

.left_widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: white;
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.left_widget_link {
	width: 100%;
}

Button.left_widget_button {
	margin: 0.4rem 0;
	width: 100%;
	background-color: #b9ddff;
	color: #414141;
	font-size: 16px;
	height: 3rem;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.left_widget_button:hover {
	background-color: #88c6ff;
	box-shadow: none;
}

Button.left_widget_button.active {
	background-color: #0085ff;
	color: white;
}

.list_box_main_grid {
	display: flex;
}

/* Calendar */

.calendar_container {
	display: flex;
	justify-content: center;
}

.MuiDateCalendar-root {
	background-color: white;
	border-radius: 1.5rem;
	padding: 1rem;
	width: auto !important;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.MuiPickersDay-today {
	background-color: #2a95ff !important;
	color: white !important;
	font-weight: 500 !important;
	border: none !important;
}

/* Create Menu */

.create_menu_container {
	max-width: 600px !important;
}

.create_menu {
	display: flex;
	justify-content: space-between;
	padding: 0rem 0 1rem 0;
}

Button.create_menu_button {
	width: 100%;
	background-color: #89c6ff;
	color: #414141;
	font-size: 16px;
	height: 3rem;
	width: 10rem;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.create_menu_button:hover {
	background-color: #b9ddff;
	box-shadow: none;
}

Button.create_menu_button.active {
	background-color: #ffffff;
	color: #414141;
}

Button.register_button {
	height: 3.5rem;
	box-shadow: none;
}

Button.update_button {
	height: 3.5rem;
	margin-top: 8px;
	box-shadow: none;
}

Button.print_details_button {
	background-color: #ffffff;
	color: #414141;
	font-size: 16px;
	height: 3rem;
	margin-bottom: 10px;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.print_details_button:hover {
	background-color: #87c5ff;
	box-shadow: none;
}

.print_button_container {
	display: flex;
	flex-direction: column;
}

/* alert dialog styles */

.MuiDialog-paper {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem !important;
    padding: 1rem;
}

.MuiDialog-paper .alert_actions {
	width: 85%;
	justify-content: space-between;
}

.MuiDialog-paper Button.MuiButton-root {
	background-color: #0085ff ;
	color: white;
	font-size: 16px;
	height: 3rem;
	width: 6rem;
	margin-bottom: 10px;
	border-radius: 0.5rem;
	box-shadow: none;
}

.MuiDialog-paper Button.MuiButton-root.alert_agree:hover {
	background-color: #ce002d;
	box-shadow: none;
}

.MuiDialog-paper Button.MuiButton-root.alert_disagree:hover {
	background-color: #4ca8ff;
	box-shadow: none;
}

@media screen and (max-width: 1400px) {
	.create_menu_container {
		max-width: 660px !important;
	}
}

@media only screen and (max-width: 1200px) {
	.dashboard_container {
		padding-bottom: 20px;
	}

	.calendar {
		display: none;
	}

	.print_button_container {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 900px) {
	.left_widget {
		display: none;
	}

	Button.left_widget_button {
		font-size: 12px;
	}

	.print_button_container {
		margin: 0 20px;
	}
}

@media only screen and (max-width: 600px) {
	.dashboard_title {
		font-size: 1.5rem !important;
		margin-bottom: 20px !important;
	}

	.left_widget {
		flex-direction: row;
		padding: 0.5rem;
		margin-bottom: 20px;
	}

	.left_widget_link {
		width: 80%;
	}

	.print_button_container button {
		font-size: 14px;
	}
}
