.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.dashboard_container {
	display: flex;
}

/* Left Widget */

.left_widget_container {
    display: flex;
    justify-content: center;
}

.left_widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: white;
	border-radius: 1.5rem;
	padding: 2rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.left_widget_link {
	width: 100%;
}

Button.left_widget_button {
	margin: 0.4rem 0;
	width: 100%;
	background-color: #b9ddff;
	color: #414141;
	font-size: 16px;
	height: 3rem;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.left_widget_button:hover {
	background-color: #88c6ff;
	box-shadow: none;
}

Button.left_widget_button.active {
	background-color: #0085ff;
	color: white;
}

.list_box_main_grid {
    display: flex;
    justify-content: center;
}

/* Calendar */

.calendar_container {
    display: flex;
    justify-content: center;
}

.MuiDateCalendar-root {
	background-color: white;
	border-radius: 1.5rem;
	padding: 1rem;
    width: 300px !important;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.MuiPickersDay-today {
    background-color: #2a95ff !important;
    color: white !important;
    font-weight: 500 !important;
    border: none !important;
}

/* Create Menu */

.create_menu_container {
	display: flex;
	justify-content: center;
}

.create_menu {
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem 2rem 5rem;
}

Button.create_menu_button {
	width: 100%;
	background-color: #89c6ff;
	color: #414141;
	font-size: 16px;
	height: 2.5rem;
	width: 12rem;
	border-radius: 0.5rem;
	box-shadow: none;
}

Button.create_menu_button:hover {
	background-color: #b9ddff;
	box-shadow: none;
}

Button.create_menu_button.active {
	background-color: #ffffff;
	color: #414141;
}